.idea/*
*.iml
.metadata/*
.recommenders/*
*/.classpath
*/.project
*/.settings
*/.DS_Store
.idea/
opencron-server/src/main/webapp/upload/
opencron-server/webapp/
jobx-common/target/*
jobx-server/target/*
jobx-agent/target/*
jobx-api/target/*
jobx-examples/target/*
jobx-registry/target/*
jobx-rpc/target/*
jobx-service/jobx-service-provider/target/*
data/*