
.none {
    visibility: hidden;
}

.hide {
    display:none;
}

.form-horizontal > .form-group{
    padding-bottom:5px;
    padding-top: 2px;
}

.highcharts-button{
    display: none;
}

.input-sm{
    width: 75.333%;
    height: 40px;
    line-height: 40px;
}

input,select,textarea {
    background-color: rgba(0, 0, 0, 0.3)!important;
    text-shadow: 0 0 3px rgba(255,255,255,0.4)!important;
    border: 0 none;
    color: rgba(255, 255, 255, 0.8)!important;
    font-size: 14px!important;
}

input:focus,select:focus,textarea:focus{
    background-color: rgba(0, 0, 0, 0.5)!important;
}

.select-jobx {
    padding-left: 3px!important;
    height: 26px!important;
    line-height: 26px!important;
}
.select-jobx > option{
    background-color: #d9edf7;
}

.modal input,.modal select,.modal textarea{
    background-color: rgba(255, 255, 255, 0.10)!important;
    text-shadow: 0 0 3px rgba(255,255,255,0.4)!important;
}

.radio-label{
    margin-top: 7px;
}
.tips{
    font-size: 12px;
    color:rgba(192,192,192,0.7);
    line-height: 25px;
}
.big-green{
    position: absolute;
    right: 20%;
    top: 4px;
    font-size: 22px;
}
b{color: red;}
.item{
    width: 120px;
}

.change-text {
    background: rgba(0, 0, 0, 0) url("/static/img/img-cover.png") no-repeat scroll 0 0;
    bottom: 23px;
    color: #fff;
    display: none;
    font-size: 11px;
    font-weight: lighter;
    height: 35px;
    left: 42px;
    line-height: 25px;
    position: absolute;
    text-align: center;
    width: 110px;
}

.btn-login {
    height: 30px;
    width: 80px;
}
.btn-submit {
    background-color: #15a4fa;
    border: 1px solid #15a4fa;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    height: 30px;
    text-align: center;
    width: 160px;
}
.btn-login {
    height: 30px;
    width: 80px;
}


#avatar-modal .btn {
    padding: 2px 9px 3px;
}

.head-set td,.head-set tr{border:0}

.mask{
    height:100%;
    width:100%;
    position:fixed;
    _position:absolute;
    top:0; z-index:9999;
    opacity:0.5;
    filter: alpha(opacity=50);
    background-color:rgb(30,30,30);
    display: none;
}

.textured {
    background: rgba(0, 0, 0, 0.30) url(/static/img/dot_pattern.png) repeat;
}

.textured2 {
    background: rgba(0, 0, 0, 0.15) url(/static/img/dot_pattern.png) repeat;
}

.block-color{
    background-color: rgba(0,0,0,0.3);
}

.jobx_command {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-binding: url("ellipsis.xml#ellipsis");
    text-overflow: ellipsis;
    max-width:50em;
}

@media (max-width: 1800px) {
    .jobx_command{
        width: 50em;
    }
}

@media (max-width: 1700px) {
    .jobx_command{
        width: 42em;
    }
}

@media (max-width: 1600px) {
    .jobx_command{
        width: 32em;
    }
}

@media (max-width: 1500px) {
    .jobx_command{
        width: 25em;
    }
}

@media (max-width: 1380px) {
    .jobx_command{
        width: 21em;
    }
}

@media (max-width: 1280px) {
    .jobx_command{
        width: 18em;
    }
}


@media (max-width: 1136px) {
    .jobx_command{
        width: 15em;
    }
}

.btn-float {
    background-color: rgba(0, 0, 0, 0);
    border: medium none rgba(0, 0, 0, 0);
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin-top: 4px!important;
}

.btn-float:hover {
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.18);
}

.btn-float i {
    font-size: 16px;
    -webkit-transition: all;
    -moz-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}
.btn-float:hover i {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}

#overview_report_bar {
    text-align: center;
    height: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 5px;
    font-size: 12px;
    display: none;
}

.legendColorBox {
    width:12px;
    height:12px;
    background-color:rgba(255,255,255,0.8);
    border-radius: 50%;
    cursor: pointer;
}

.legendLabel{
    padding-left: 4px;
    padding-right: 8px;
    cursor: pointer;
}

.success-bar {
    background-color: #20c05c;
}

.success-color {
    color: #20c05c;;
}


.failed-bar {
    background-color: #ed4949;
}

.failed-color {
    color: #ed4949;;
}

.timeout-bar {
    background-color: #fed42a;
}

.timeout-color {
    color: #fed42a;;
}

.killed-bar {
    background-color: #0b62a4;
}

.killed-color {
    color: #0b62a4;
}

.lost-bar {
    background-color:#b5aeb4;
}

.lost-color {
    color: #b5aeb4;
}

.off .legendColorBox {
    background-color: rgba(222,222,222,0.2);
}

.off {
    color: rgba(222,222,222,0.2);
}

#overview_report_bar table {
    display: inline-block;
}

#config-view h6 {
    margin-bottom: 10px;
    margin-top: 4px;
    color: rgba(255, 255, 255, 0.85);
    font-weight: bold;
}

.pie-title {
    color: rgba(235, 235, 235, 0.85);
    font-size: 12px;
    font-weight: bold;
}

.labact{
    color:rgb(255,255,255);
    font-weight: lighter;
}

.block-area{
    margin-top: -6px;
}

.disk-item{
    font-weight: lighter;
}

#config-view .counts{
    font-weight: lighter;
}

#config-view h6{
    font-weight: lighter;
}

.main-chart {
    font-weight: lighter;
}

.report_detail {
    margin-top: 5px;
    margin-bottom: 15px;
}


.noborder{
    font-family: "Roboto","Arial",sans-serif;
    color: rgba(192, 192, 192,0.9);
    font-weight: lighter;
}

.pull-left i {
    color: rgba(225,225,225,0.9);
}

.eye-grey{
    filter:alpha(opacity=20);
    -moz-opacity:0.2;
    opacity:0.2;
}
.record-div-nodata{
    display: none;
    height: 235px;
    position: relative;
    z-index: -1;
    margin-bottom: -15px;
}
.div-nodata{
    display: none;
}
.eye-record-nodata{
    filter:alpha(opacity=40);
    -moz-opacity:0.4;
    opacity:0.4;
}

.nodata{
    font-size: 40px;
    font-weight: 400;
}

a:visited {
    color: rgba(225,225,225,1);
}

.pagination input {
    height: 22px;
    width: 38px;
    margin: -3px 3px;
    padding-left: 4px;
}

.pagination .pagesize {
    height: 31px;
    padding-top: 3px;
}

.cronSelector select {
    width: 68px;
}

.cronSelector th{
    text-align: center;
}

.recenttime tr td {
    padding-left: 20px;
    font-size: 13px;
    padding-top: 4px;
}
.recenttime {
    padding-top: 5px;
    padding-bottom: 10px;
    text-align: center;
    color: rgba(255,255,255,0.7);
}

.select-defexp {
    color: rgba(192,192,192,0.4)
}

.btn-defexp {
    width: 104px;
    height: 42px;
    background-color: rgba(255,255,255,0.1) !important;
    border: none !important;
    border-radius: 3px;
    font-size: 18px !important;
    color: rgba(255,255,255,0.6)!important;
}

.btn-exprepeat {
    background-color: rgba(255,255,255,0.3) !important;
    color: rgba(192,192,192,0.4);
    border: none !important;
    padding-left: 2px !important;
    padding-right: 2px !important;
}

.cronSelector .active {
    color: #00af00 !important;
}

.cronSelector input {
    width: 30px;
    background-color:rgba(255,255,255,0.1)!important;
    z-index: 99;
    color: #fff;
}


