{
    "presets": [
      ["env", { "modules": false }],
      "stage-3"
    ],
    "plugins": ["transform-runtime"],
    "comments": false,
    "env": {
      "test": {
        "presets": ["env", "stage-3"],
        "plugins": [ "istanbul" ]
      }
    }
  }
  