.highcharts-button{
    display: none;
}

.input-sm{
    width: 75.333%;
    margin-bottom: 5px;
    height: 40px;
    line-height: 40px;
}

input,select,textarea {
    background-color: rgba(0, 0, 0, 0.3)!important;
    text-shadow: 0 0 3px rgba(255,255,255,0.4)!important;
    border: 0 none;
    color: rgba(255, 255, 255, 0.8)!important;
    font-size: 14px!important;
    border-radius: 2px!important;
}

input:focus,select:focus,textarea:focus{
    background-color: rgba(0, 0, 0, 0.5)!important;
}

.select-opencron {
    padding-left: 3px!important;
    height: 26px!important;
    line-height: 26px!important;
}
.select-opencron > option{
    background-color: #d9edf7;
}

.modal input,.modal select,.modal textarea{
    background-color: rgba(255, 255, 255, 0.10)!important;
    text-shadow: 0 0 3px rgba(255,255,255,0.4)!important;
}

.radio-label{
    margin-top: 7px;
}
.tips{
    font-size: 12px;
    color: #BBBBBB;
}
.big-green{
    position: absolute;
    right: 20%;
    top: 4px;
    font-size: 22px;
}
b{color: red;}
.item{
    width: 120px;
}

.change-text {
    background: rgba(0, 0, 0, 0) url("/static/img/img-cover.png") no-repeat scroll 0 0;
    bottom: 23px;
    color: #fff;
    display: none;
    font-size: 11px;
    font-weight: lighter;
    height: 35px;
    left: 42px;
    line-height: 25px;
    position: absolute;
    text-align: center;
    width: 110px;
}

.btn-login {
    height: 30px;
    width: 80px;
}
.btn-submit {
    background-color: #15a4fa;
    border: 1px solid #15a4fa;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    height: 30px;
    text-align: center;
    width: 160px;
}
.btn-login {
    height: 30px;
    width: 80px;
}


#avatar-modal .btn {
    padding: 2px 9px 3px;
}

.head-set td,.head-set tr{border:0}

.mask{
    height:100%;
    width:100%;
    position:fixed;
    _position:absolute;
    top:0; z-index:9999;
    opacity:0.5;
    filter: alpha(opacity=50);
    background-color:rgb(30,30,30);
    display: none;
}

.textured {
    background: rgba(0, 0, 0, 0.30) url(/static/img/dot_pattern.png) repeat;
}

.textured2 {
    background: rgba(0, 0, 0, 0.15) url(/static/img/dot_pattern.png) repeat;
}

.block-color{
    background-color: rgba(0,0,0,0.3);
}

.opencron_command {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-binding: url("ellipsis.xml#ellipsis");
    text-overflow: ellipsis;
}

@media (max-width: 1900px) {
    .opencron_command{
        width: 60em;
    }
}

@media (max-width: 1800px) {
    .opencron_command{
        width: 50em;
    }
}

@media (max-width: 1700px) {
    .opencron_command{
        width: 42em;
    }
}

@media (max-width: 1600px) {
    .opencron_command{
        width: 32em;
    }
}

@media (max-width: 1500px) {
    .opencron_command{
        width: 25em;
    }
}

@media (max-width: 1380px) {
    .opencron_command{
        width: 21em;
    }
}

@media (max-width: 1280px) {
    .opencron_command{
        width: 18em;
    }
}


@media (max-width: 1136px) {
    .opencron_command{
        width: 15em;
    }
}

.btn-float {
    background-color: rgba(0, 0, 0, 0);
    border: medium none rgba(0, 0, 0, 0);
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin-top: 4px!important;
}

.btn-float:hover {
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.18);
}

.btn-float i {
    font-size: 16px;
    -webkit-transition: all;
    -moz-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

.btn-float:hover i {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}

.modal-footer button {
    display: inline-block;
    text-align: center;
}