.mu-form-item {
  color:#fff
}
.mu-form-item-help{
  color:rgba(255,255,255,.4);
  bottom:-6px;
}
.mu-form-item-label{
  font-size: 1.15rem;
  color:rgba(255,255,255,.85);
  margin-bottom: 2px;
  font-weight: 400;
}
.mu-text-field-input{
  color:rgba(255,255,255,.75);
  font-size: 14px;
}
.mu-input__focus {
  color:rgba(255,255,255,.85);
}
.mu-input-line{
  background-color:rgba(255,255,255,.2)
}
.mu-input-focus-line{
  height: 1px;
}
.mu-switch-checked {
  color:#28a745
}
.mu-primary-color {
  background-color:rgba(255, 255, 255, .125)
}
.mu-ripple-wrapper {
  background-color:rgba(255, 255, 255, .125)
}
