@charset "UTF-8";

.mu-form-item {
  color:#fff
}
.mu-form-item-help{
  color:rgba(255,255,255,.4);
  bottom:-6px;
}
.mu-form-item-label{
  font-size: 1.15rem;
  color:rgba(255,255,255,.85);
  margin-bottom: 2px;
  font-weight: 400;
}
.mu-text-field-input{
  color:rgba(255,255,255,.75);
  font-size: 14px;
}
.mu-input__focus {
  color:rgba(255,255,255,.85);
}
.mu-input-line{
  background-color:rgba(255,255,255,.2)
}
.mu-input-focus-line{
  height: 1px;
}
.mu-switch-checked {
  color:#28a745
}
.mu-primary-color {
  background-color:rgba(255, 255, 255, .125)
}
.mu-ripple-wrapper {
  background-color:rgba(255, 255, 255, .125)
}

/**
table style
**/
.dataTables_wrapper {
  margin-top: 20px;
  margin-bottom: 30px;
}

.mu-elevation-1 {
  -webkit-box-shadow:none;
  box-shadow:none;
}

.mu-paper {
  background-color:rgba(0, 0, 0, 0) !important;
  .mu-table{
      background-color:rgba(0, 0, 0, 0)  !important;
      th {
        color:rgba(255,255,255,.95)!important;
        border-bottom: 1px solid rgba(255,255,255,.125);
        padding: 1rem 1.5rem;
        vertical-align: middle;
        font-weight:600;
      }
      td {
        border-bottom: 1px solid rgba(255,255,255,.125);
        padding: 1rem 1.5rem;
        vertical-align: middle;
      }
      tr {
          color:rgba(255,255,255,.87)!important;
      }
      .is-hover{
        background: none !important;
      }
      .mu-table-sort-icon {
        float: right;
      }
      //loading。。。
      .mu-linear-progress {
          height: 1px;
      }
      .mu-linear-progress-background {
          background-color:rgba(255,255,255,.125);
      }
      .mu-linear-progress-indeterminate {
        background-color:rgba(255,255,255,.55);
      }
  }
}

.pagination{
  margin-top: 40px;
  .mu-pagination__raised .mu-pagination-btn.mu-button,.mu-pagination-item:not(.is-current) {
    background-color: rgba(255,255,255,.08);
    display: inline-block;
    color: rgba(255,255,255,.85);
    vertical-align: top;
    border-radius: 50%;
    margin: 0 1px 0 2px;
    font-size: 1rem;
    cursor: pointer;
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    transition: background-color .3s,color .3s;
  }

  .mu-pagination-item.mu-button.is-current {
    background-color: #fff;
    color: #000;
  }

}

