body{
    margin: 0px;background-color: #000000;
    overflow: hidden;
}

.terminal {
    font-size: 12px;
}

#terminal-container {
     margin: 0 auto;
     padding: 2px;
 }

.dropdown-menu > li > a {
    color: #7A7A7A;
}


.navbar {
    position: absolute;
    margin-bottom:0px;
    border-radius:0px;
    float: left;
    width:100%;
    left: 0px;
    min-height: 45px;
    font-size: 15px;
}

.container{
    float: left;
    width: 100%;
    padding-left:0px;
}

.navbar-nav {
    float: none;
}

.navbar-nav > li > a{
    padding: 15px;
}

.dropdown-menu{
    font-size: 13px;
}

.dropdown-menu > li > a {
    color: #7A7A7A;
}

.term-logo {
    font-size: 30px;
    font-weight: 200;
    margin-right: 0px;
    margin-left: 10px;
    margin-top: -3px;
}

.fa{
    font-size: 14px;
}

.circle {
    border-radius: 50%;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-bottom: -3px;
}

.sweet-alert {
    background-color:rgba(255, 255,255, 0.7);
}

.send-input {
    background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
    border: medium none;
    border-radius: 11.5em;
    color: rgba(255, 255, 255, 0.8);
    font-size: 12px;
    height: 28px;
    outline: 0 none;
    padding: 0 50px 0 14px;
    width: 280px;
}

.btn-success {
    border-radius: 11.5em;
    line-height: 16px;
    position: absolute;
    top: 12px;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: rgba(255, 255, 255, 0.8);
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: rgba(255, 255, 255, 0.8);
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: rgba(255, 255, 255, 0.8);
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: rgba(255, 255, 255, 0.8);
}

@media all and (max-width: 970px) {
    #sendNode{
        display:none;
    }
    .navbar-nav > li {
        float: left;
    }

    .send{
        display: none;
    }

}

